* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;    
}

html,
body {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    scroll-behavior: smooth;
    background-color: #100E17;
    color: white;
    text-align: justify;
}

.wrapper {
    position: relative;
}

header {
    font-size: 180%;
}

a {
    text-decoration: none;
    color: white;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
    height: 100vh;
    background-color: #1C232B;
    font-size: 140%;
    overflow-x: hidden;
}

.nav-menu li {
    list-style-type: none;
}

#navbar li {
    margin-bottom: 5%;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.drop-menu {
    visibility: hidden;
    display: none;
}

.sub-nav:hover > ul,
.drop-menu:hover {
    visibility: visible;
    display: block;
    background-color: rebeccapurple;
}

.drop-menu li {
    margin-left: 5%;
}

#main-doc {
    margin-left: 375px;
    list-style-position: inside;
    padding-right: 1%;
    overflow: hidden;
}

.main-section {
    margin-bottom: 3%;
}

img {
    display: block;
    margin: 3%;
}